.link {
  text-decoration: none;
  font-family: 'Montserrat Alternates';
  font-weight: bold;
  color: white;
}

.linkmenu {
  text-decoration: none;
  font-family: 'Montserrat Alternates';
  font-weight: bold;
  background-color: none;
  color: rgb(0, 0, 0);
}


.avatarButton {
  border-radius: '50%';
  background-color: white;
}
